%footer
  .grid-container
    .text-center
      = image_tag 'logo.png', class: 'brand-logo  '
      %ul.menu.social-icons.align-center
        = link_to 'https://www.facebook.com/groups/294203727305/' do
          %li.icon
            = image_tag 'facebook.svg'
        = link_to 'https://twitter.com/effectivebirdco' do
          %li.icon
            = image_tag 'twitter.svg'
        = link_to 'https://www.instagram.com/effectivebirdco/' do
          %li.icon
            = image_tag 'instagram.svg'
        = link_to 'https://www.linkedin.com/company/effective-bird-control-uk-ltd' do
          %li.icon
            = image_tag 'linkedin.svg'

    %hr
    %p.text-center
      © 2018 Pigeonguanocleaning | All rights reserved Privacy Policy | #{ link_to 'www.effectivebirdcontrol.co.uk', 'www.effectivebirdcontrol.co.uk'} | Designed and Built by #{ link_to 'CBDigital', '#'}