= image_tag 'logo-brand.png', class: 'logo'
%ul.menu.social-icons.align-center
  = link_to '#' do
    %li.icon
      = image_tag 'facebook.svg'
  = link_to '#' do
    %li.icon
      = image_tag 'twitter.svg'
  = link_to '#' do
    %li.icon
      = image_tag 'instagram.svg'
  = link_to '#' do
    %li.icon
      = image_tag 'linkedin.svg' 
%ul.menu.vertical.contact-information
  %li
    = link_to 'Email : info@ectivebirdcontrol.co.uk', 'mailto:info@ectivebirdcontrol.co.uk'
  %li
    = link_to 'Phone : 01621 779 823', 'tel:01621779823'